<div class="schedule">
    <strong class="schedule-date">November 03</strong>

    <div class="events">
        <div class="event">
            <span class="time">14:00-14:05</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>🎉Opening Remarks</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">14:05-14:50</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <!--<div class="avatar-spinner"></div>-->
                            <img class="avatar-image" src="../assets/img/org_Khurram.jpeg" alt="Keynote – Dr.Khurram Shafique">
                        </div>
                        <div class="detail-title">
                            <h5>🎙️Keynote - Dr.Khurram Shafique</h5>
                            <small>Fantastic Outliers and Where to Find Them</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>
                            Outliers are not always signals, nor always noise, but moments where models and reality misalign. These moments reveal not only what the system fails to capture but also what it assumes to be true. Anomalies sit at a conceptual crossroads: they appear as statistical outliers yet often point toward underlying structure or meaning. As models become more adept at detecting deviations from routine patterns, fundamental questions remain. What exactly qualifies as an anomaly? Is it a failure of the system, or of the model's assumptions? Is it noise, novelty, or something else entirely?
This talk treats anomalies not as simple exceptions, but as points of tension where the world resists classification, and our abstractions begin to break down. Through examples in human mobility modeling, it explores how AI systems often confuse chaos for meaning, how regularity can be overfit, and how seemingly insignificant deviations can expose critical system-level blind spots. The talk surveys a range of approaches to anomaly detection in spatial and temporal contexts and examines where they succeed and where they misfire. It calls for a broader interpretive vocabulary, both computational and conceptual, for thinking about anomalies in space, time, and society. Rather than asking only how to detect the unexpected, it asks what our models make invisible, which behaviors are marginalized, and how systems can be designed not just to flag the strange, but to learn from it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">14:50-15:10</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 1: Towards Physics-informed Diffusion for Anomaly Detection in Trajectories: A Summary of Results</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; Towards Physics-informed Diffusion for Anomaly Detection in Trajectories: A Summary of Results<a href="../assets/papers/paper1.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a></i></small> -->
                            <small class="author">Kepeng Wu, Zecheng Li, Weichao Zhao, Haodong Wang, Wengang Zhou, Houqiang Li <span class="links"><a href="../assets/papers/paper1.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">15:10-15:30</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 2: Grounded Anomalies: Towards Causally Grounded Kinematic Anomaly Generation (Vision Paper)</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; Grounded Anomalies: Towards Causally Grounded Kinematic Anomaly Generation (Vision Paper<a href="../assets/papers/test.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a>)</i></small> -->
                            <small  class="author">Joon-Seok Kim and Andreas Züfle <span class="links"><a href="../assets/papers/paper2.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">15:30-16:00</span>
            <div class="details">
                <div class="detail break-time">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>☕️ Coffee Break</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">16:00-16:20</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 3: Anomalies In The Depths: Evaluating Unsupervised Anomaly Detection on Real-World Unlabelled Data. A Case Study on Autonomous Ocean Gliders</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; Anomalies In The Depths: Evaluating Unsupervised Anomaly Detection on Real-World Unlabelled Data. A Case Study on Autonomous Ocean Gliders<a href="../assets/papers/test.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a></i></small> -->

                            <small class="author"> Federico Scarscelli, Claudius Zelenka, Daniyal Kazempour, Peer Kröger and Florian Schütte <span class="links"><a href="../assets/papers/paper3.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">16:20-16:35</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 4: BeSTAD: Behavior-Aware Spatio-Temporal Anomaly Detection for Human Mobility Data (Short Paper)</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; BeSTAD: Behavior-Aware Spatio-Temporal Anomaly Detection for Human Mobility Data (Short Paper)<a href="../assets/papers/test.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a></i></small>
                            <br> -->
                            <small  class="author"> Junyi Xie, Jina Kim, Yao-Yi Chiang, Lingyi Zhao and Khurram Shafique <span class="links"><a href="../assets/papers/paper4.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="event">
            <span class="time">16:35-16:55</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 5: Semantic Anomaly Detection in Human Trajectories: Preserving Behavioral Patterns Through Calendar Representations</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; Semantic Anomaly Detection in Human Trajectories: Preserving Behavioral Patterns Through Calendar Representations<a href="../assets/papers/test.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a></i></small>
                            <br> -->
                            <small class="author"> Erfan Hosseini Sereshgi, Mauryan Uppalapati, Yueyang Liu, Lance Kennedy, Andreas Züfle and Carola Wenk <span class="links"><a href="../assets/papers/paper5.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="event">
            <span class="time">16:55-17:15</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>📄Presentations 6: Towards Recurring Co-traveling Pattern Detection: A Summary of Results</h5>
                            <!-- <small style="margin-top: 0.25rem;"><i>&bullet; Towards Recurring Co-traveling Pattern Detection: A Summary of Results<a href="../assets/papers/test.pdf" target="_blank" rel="noopener noreferrer">
                            🔗
                        </a></i></small>
                            <br> -->
                            <small class="author"> Shuai An, Chris Stanford and Shashi Shekhar <span class="links"><a href="../assets/papers/paper6.pdf" download>[PDF]</a></span></small>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="event">
            <span class="time">17:15</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>🎆Closing Remarks</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
